<!DOCTYPE html>
<html lang="en">

<head>
  <title>Virtual Vacation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Virtual Vacation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/images/vacation.ico" type="image/x-icon"/>
</head>

<body>
  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
