form.signup,
form.login {
  margin: 50px;
  padding: 50px;
  margin-top: 50px;
  
  align-self: start;
  font-weight: lighter;
  
}

.label {
  font-weight: normal;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
 

